extends layout

block content
  style.
    body {
        background-color: #eceff1;
    }
    .picker--opened .picker__holder{
      background: rgba(0,0,0,0.01) !important;
    }




  nav(style='height:95px',ng-controller='indexController',ng-class='color').animated.fadeInDown
    .nav-wrapper
      a.brand-logo.center(href='#')
        img.responsive-img(src='/images/userLogo/#{user_id}.png', alt='')
      ul.right.hide-on-med-and-down(style='margin-top:1%')

        li
          a(href='/logout').bold Cerrar Sesión


      ul.left.hide-on-med-and-down(style='margin-top:1%')
        li
          a.button-collapse.show-on-large(href='#', data-activates='slide-out')
            i.material-icons menu 

  ul#slide-out.side-nav(ng-controller='indexController')
        li
          .userView
            img.background.responsive-img(src='images/target_img.png',style='position:absolute;z-index:-1')
            a(href='/index',style='padding-top:4%')
              img.responsive-img(src='/images/userLogo/#{user_id}.png')
            a
              span.black-text.name.bold {{user_name}}
            a
              span.black-text.email.bold {{user_email}}

        li.bold
          a.waves-effect(href='/update/user')
           i.material-icons(style='padding-right:4%') mode_edit
           |Editar Perfil
        li
          .divider
        li.bold
          a.waves-effect(href='/coming/soon')
            i.material-icons(style='padding-right:4%') local_atm
            |Medio de Pago


  
  
  
        
    
  .contain(ng-controller='indexController',style='margin-top:3%')
      .row.animated.fadeInUp
            
        each val,index in surveys


          .col.s12(id='card'+index)

              script.

                var i;
                if (i === undefined){
                  i = 0;
                }

                var col_size;
                if (col_size === undefined){
                  col_size = 12;
                }

                var col;
                if (col_size > 6){
                  if(col_size == 7){
                    col = Math.floor(Math.random() * (4 - 3 + 1) + 3)
                    col_size =  col_size - col;
                  }
                  else{
                    col = Math.floor(Math.random() * (5 - 3 + 1) + 3)
                    col_size =  col_size - col;
                    
                  }
                }else{

                  col = col_size;
                  col_size = 12;
                  
                }

                var card = document.getElementById('card'+i)
                console.log(card);
                card.className += ' m'+col;
                i++;

              .card
                //.card-image
                  img(src='/images/target_img.png')
                  
                .card-content
                  if val.nombre.length <= 30
                    span.card-title.black-text.regular= val.nombre
                    if val.descripcion == undefined
                      p=''
                    else
                      if val.descripcion.length <= 45
                        p= val.descripcion
                      else
                        p= val.descripcion.slice(0,40)+'...'  

                  else
                    span.card-title.black-text.regular= val.nombre.slice(0, 25)+ '...'
                    if val.descripcion == undefined
                      p=''
                    else
                      if val.descripcion.length <= 45
                        p= val.descripcion
                      else
                        p= val.descripcion.slice(0,40)+'...'
                    
                .card-action
                  a.dropdown-button.btn(href='#', data-activates='dropdown'+index, ng-class='color') Opciones

                  //Dropdown Structure
                  ul(id='dropdown'+index).dropdown-content
                    li.regular
                      a(href='/survey/'+val._id).black-text Ver 

                    li.divider
                    li.regular
                      a.modal-trigger.black-text(href='#modal1', ng-click='obtain_graphs_data("#{val._id}")') Estadísticos
                    li.regular
                      a.black-text(ng-click='makeQR("#{val._id}")') Código QR

                    li.divider
                      li.regular
                        a.black-text(ng-click='delete_modal("#{val._id}")') Eliminar


      #qr_modal.modal
        .modal-content
          .row
            .col.s12
              h4(align='center').thin Escanea el código QR de la Encuesta
          .row(style='margin-top:6%')
            .col.s4.offset-s4
              #qrcode
            

        .modal-footer
          a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Exportar a PDF


      #delete_modal.modal
        .modal-content
          .row
            .col.s12
              h5(align='center').bold ¿Deseas Eliminar esta Encuesta?
            

        .modal-footer.row
          .col.s3.offset-s6
            a.waves-effect.waves-light.btn.red.lighten-1(ng-click='delete_survey()')
              i.material-icons.left delete
              | Sí
          .col.s3
            a.waves-effect.waves-light.btn(ng-class='color',ng-click='close_delete_modal()')
              i.material-icons.left close
              | No


      
      // Modal Structure
      .modal(id='modal1')
          .modal-content
            .row
              .col.s6
                h4.thin {{survey.nombre_slice}}
              .col.s4.offset-s1
                select(ng-model='question_number_id',ng-change='show_graphs_by_question()')
                    option(value='', disabled, selected) Selecciona una Pregunta
                    option(ng-repeat='question in survey.preguntas',value='{{question._id}}' ,on-finish-render="ngRepeatFinished") Pregunta {{$index + 1}}

            .row(style='margin-top:-5%',ng-hide='div_survey_details')
              .col.s12
                p.bold {{question_name}}

            .row#canvas_div
              canvas#myChart(width='400', height='145',ng-hide='div_survey_details')
            .row(ng-show='div_survey_details')
                
              h5.thin.bold Resumen:
              .row
                .col.s12
                  h5.thin Nombre de la encuesta: 
                    
                      strong {{survey.nombre}}

              .row(style='margin-top:-5%')
                .col.s12
                  h5.thin Fecha de Creación: 
                    
                      strong {{date}}

              .row(style='margin-top:-5%')
                .col.s12
                  h5.thin Total de Respuestas: 
                    
                      strong {{survey_answers.length}}

              .row(style='margin-top:-5%')
                .col.s12
                  h5.thin Última Respuesta: 
                    
                      strong {{last_answer_date}}


            .row
              h5.thin.bold Filtros:
              .row
                .input-field.col.s4
                    select(multiple='',ng-model='valid_filters', ng-change='show_filters()')
                      option(value='', disabled='', selected='') Escoge un filtro
                      option(value='1') Fecha
                      option(value='2') Sexo


              .row
                .col.s4.offset-s1(ng-show='show_filter_date')
                  label.active(for="date") Respuestas a partir de:
                  input#date(type="date" ng-model='date_filter_value', ng-change='apply_filters()')
                .col.s5.offset-s1(ng-show='show_filter_gender')
                  .col.s6
                    input#h(name='group1', type='radio',value='0',ng-model='gender_filter_value',ng-change='apply_filters()')
                    label(for='h') Hombre
                  .col.s6
                    input#m(name='group1', type='radio', value='1', ng-model='gender_filter_value',ng-change='apply_filters()')
                    label(for='m') Mujer


                

          

               
  
  .fixed-action-btn.horizontal(style='bottom: 45px; right: 24px;')
      a.btn-floating.btn-large.red.waves-effect.waves-light(href='/survey/new')
        i.large.material-icons add
      ul
        li
            a.btn-floating.red(href='/answer/type/new')
              i.material-icons check_box
        li
            a.btn-floating.blue.darken-1(href='/survey/new')
              i.material-icons note_add


  script.
    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
      });



  script.
    var surveys = !{JSON.stringify(surveys)};
    moment.locale("es");


  block footer

  script(src='/javascripts/angular_controllers/index_controller.js')