extends layout

block content

    nav(style='height:95px',ng-controller='surveyController',ng-class='color').animated.fadeInDown
        .nav-wrapper
            a.brand-logo.center(href='#') 
                img.responsive-img(src='/images/userLogo/#{survey.user_id}.png', alt='')
            
    .container.animated.fadeIn(ng-controller='surveyController')

        .row(style='margin-top:2%', align='center')
            .col.s10.offset-s1
                h2.thin #{survey.nombre}
        .row
                .col.s6.input-field
                    input#email.validate(type='email',ng-model='email')
                    label(for='email').blue-grey-text Correo Electrónico
                .col.s6.input-field
                    select#gender(ng-model='gender')
                      option(value='', disabled='', selected='') Elige una Opción
                      option(value='false') Hombre
                      option(value='true') Mujer
                    label.blue-grey-text Sexo

        each question in survey.preguntas
            .row
                .col.s12
                    h4.thin.regular=question.number+'. '+question.question
            
            .row
                if question.type != 'Abierta'
                    each option in question.options_type
                        .col.s2
                            p
                              input.with-gap(name='group'+question.number, type='radio', id=question.number+option,value=option ,ng-model='answer['+question.number+']')
                              label.bold(for=question.number+option)=option
                else

                    .input-field.col.s12
                      textarea(id='abierta'+question.number, ng-model='answer['+question.number+']').materialize-textarea
                      label(for='abierta'+question.number) Responde abiertamente

        .row
            .col.s4.offset-s8
                button.btn.waves-effect.waves-light(type='submit', name='action', ng-click='send_answers()',ng-class='color')
                  | Envíar Respuestas
                  i.material-icons.right send
        

    script.
        var question_number = "#{survey.preguntas.length}";
        var survey_id = "#{survey._id}";
    script(src='/javascripts/angular_controllers/survey_controller.js')